<% provide(:title, 'About') %>

<div class="container">
<h2> About Runnery </h2>

<p>
	Runnery is a live food-order-delivery feed for employing drivers by restaurants' demand and delivery proximities.
</p>

</div>
