<% provide(:title, 'Help') %>
<div class="container">
		<h2> Runnery Help </h2>
	
		<p>
			The driver is their own responsibility. Drivers use this application to view waiting orders of near-by restaurants, and chooses deliveries based on various attribues, like pickup and delivery distances, order waiting-time, surcharge and payment type.</p><br>

			<p>The driver is entitled to a variable fuel surcharge, set at a sandard $3. Surcharge should reflect conditions like order size, delivery distance, cost of gas, and low-tipping customers. The surcharge is negotiable but decided finally by the restaurant owner.</p><br>

	        <p>Orders dispatched through Runnery cost $0.25 each. The restaurant is responsible for the cost, via PayPal Express. After the first 1000 orders and every 500 orders, subsequent, a $125 fee is required to continue using Runnery. Notice, the cost of using Runnery can be compensated by balancing the difference in surcharges paid to drivers and surcharges charged to orders, leaving the cost of the Runnery service up to the restaurant owner. </p><br>

			<p>For cash orders, drivers are expected to pay for the order up-front, minus surcharge, and be reembersed upon delivery.</p><br>

			<p> For card payments, debit orders are considered paid and surcharge is paid by the restuarant on pickup. Tip is either paid by the restuarant on pickup, or paid cash on delivery.
			</p><br>
			
			<p>
			For credited tips a reciept must be redeemed by the restaurant and tips paid after. Surcharges are always paid on pickup.
			</p><br>
		</div>
