<% provide(:title, 'Info') %>

<div class="container">
	<div class="span4">

	<h3>Runnery Info</h3>

			<br>

			<p align="justify">
			Runnery is an open delivery feed from restaurants to drivers.
			</p>

			<p align="justify">
			The driver is their own responsibility. Drivers choose deliveries based on time created, pickup and delivery addresses, delivery surcharge, and payment type.</p>

			<p align="justify">The driver is entitled to a variable surcharge set at $3. Surcharge should reflect conditions like order size/cost, delivery distance, cost of gas, and low-tipping customers.</p>

	        <p align="justify">Runnery is always free for Drivers. Restaurants get their first 100 deliveries free. After, a $125 payment is required for every 500 deliveries ($0.25/del.). **Notice, the cost of Runnery can be balanced by the difference in surcharge paid to drivers and surcharge charged to customers' deliveries.** </p>

			<p align="justify">Drivers are expected to pay for cash orders up-front, minus surcharge, and be reembersed/tipped on delivery.</p>

			<p align="justify"> Debited orders are considered paid and surcharge is paid by the restaurant on pickup. Tip is paid cash by the restuarant on pickup, or by the customer on delivery.
			</p>
			
			<p align="justify">
			For credited tips, a receipt must be redeemed by the restaurant and tips paid after. Returning to the restaurant is not required for receipts with no tip. Surcharge is always paid on pickup.
			</p>

			<br>

			<h4 align="justify">
			* Please be safe and use sound judgement while driving. 
			</h4>
			
			<h4 align="justify"> 
			* Know your local mobile device/driving laws, and your insurance coverage for delivery. 
			</h4>

			<h4 align="justify">
			* Please refrain from driving while stressed. 
			</h4>

			<br>

			<h3>Thank you!</h3>

	</div>
</div>
