<% provide(:title, 'Info') %>

<div class="container">
<h3> Runnery Info</h3>

<p>
	Runnery is an open delivery feed from restaurants to drivers.
</p><br>

<p>
			The driver is their own responsibility. Drivers 'Run!' waiting deliveries based on waiting time, pickup and delivery addresses, delivery surcharge, and payment type.</p><br>

			<p>The driver is entitled to a variable surcharge, set by the restaurant. The standard is $3. Surcharge should reflect conditions like order size/cost, delivery distance, cost of gas, and low-tipping customers.</p><br>

	        <p>Runnery is free for Drivers. Deliveries posted through Runnery cost a restaurant $0.25 each. After the first 100 deliveries and every 500 deliveries subsequent, a $125 payment is required to continue using Runnery. The restaurant is responsible for the payment via PayPal Express. *** Notice, the cost of using Runnery can be balanced by the difference in surcharge paid to drivers and surcharge charged to customers' orders. </p><br>

			<p>Drivers are expected to pay for cash orders up-front--minus surcharge--and be reembersed/tipped on delivery.</p><br>

			<p> Debited orders are considered paid and surcharge is paid by the restuarant on pickup. Tip is either paid cash by the restuarant on pickup, or by the customer on delivery.
			</p><br>
			
			<p>
			For credited tips, a receipt must be redeemed by the restaurant and tips paid after. Returning to the restaurant is not required for receipts with no tip. Surcharge is always paid on pickup.
			</p><br>

</div>
