<% provide(:title, 'Info') %>

<div class="container">

	<h3>Runnery Info</h3>

	<br>

	<div class="span4" style="background: rgba(172,228,252,.5); 		color:black">

			<p align="justify">

				Runnery is a live delivery feed from restaurants to drivers.

			</p>

			<p align="justify">

				Drivers choose deliveries based on time, pickup/delivery addresses, delivery surcharge, and payment type, from a pool of nearby restaurants.

			</p>

			<p align="justify">

				The driver is entitled to a variable surcharge, standard at $3. Surcharge should reflect order size/cost, delivery distance, cost of gas, etc.

			</p>

	        <p align="justify">

	        	Runnery is free to use for Drivers. Restaurants' first 100 deliveries are free, then a $125 payment is required for every 500 deliveries ($0.25/del.). Notice, the cost of using Runnery can be balanced by the difference in surcharge paid to drivers and surcharge charged to customers' orders.

	        </p>

			<p align="justify">

				Drivers are expected to pay for cash orders up-front, minus surcharge, and be reembersed/tipped on delivery.

			</p>

			<p align="justify">

				 Debited orders are considered paid and surcharge is paid by the restaurant on pickup. Tip is either paid by the restuarant on pickup, or by the customer on delivery.
			</p>
			
			<p align="justify">

				For credited tips, a receipt must be redeemed by the restaurant and tips paid after. Returning to the restaurant is not required for receipts with no tip. Surcharge is always paid on pickup.

			</p>

			<br>

			<h4 align="justify">

				* Be safe and use sound judgement when driving.

			</h4>
			
			<h4 align="justify">

				* Know your local mobile-device-while-driving laws, and your insurance coverage for added vehical use. 

			</h4>

			<h4 align="justify">

				* Please refrain from driving under stress. 

			</h4>

			<br>

			<h3 align="justify">

				Thank you! 

			</h3>

	</div>
</div>
