<%= render "shared/javascript_headers" %>

<% provide(:title, 'Done Today') %>
    
 <div  id="map" style="position:absolute; width:100%; height:100%;"></div>


      <%= render 'shared/gmap_script' %>