<%= render "shared/javascript_headers" %>

<% provide(:title, 'Pickups Done') %>

<h3 style="font-family: Courier New; font-style:italic; margin-left:0; margin-top:20px; padding:0;">Pickups Done:</h3>

<div  id="map" style="position:absolute; width:95%; height:80%;"></div>


      <%= render 'shared/gmap_script' %>