<%= render "shared/javascript_headers" %>

<% provide(:title, 'Running Pickups') %>

<h3 style="font-family: Courier New; font-style:italic; margin-left:0; margin-top:20px; padding:0;">Running Pickups:</h3>

<div  id="map" style="width:600px; height:900px;"></div>


      <%= render 'shared/gmap_script' %>