<%= render "shared/javascript_headers" %>

<% provide(:title, 'Now Running') %>
    
<div class="span4" style="margin:0 0 0 0px; width:100%">

  <h3 style="margin-top:15px; margin-left:20px;"> Running: </h3>
  <br>
  <%= render 'shared/feed' %>

</div>




    
