<%= render "shared/javascript_headers" %>

<% provide(:title, 'Now Running') %>
    
<div class="span4" style="margin:0 0 0 0px; width:360px">

  <h3> Running: </h3>
  <br>
  <%= render 'shared/feed' %>

</div>

<div class= "pull-right" style='width: 500px;'>

  <h3>Dropoffs:</h3>
  <div  id="map" style='width: 500px; height: 600px;'></div>

</div>

  <%= render 'shared/gmap_script' %>



    
