<% provide(:title, @title) %>
<div class="container">
  <aside class="span4">
      <h3>Orders:</h3>
    <section>
      <%= render 'shared/stats' %>
        </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if current_user %>
      <ul class="users">
        <%= render 'shared/feed' %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>