@import "bootstrap";


/* mixins, variables, etc. */


$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* universal */

* {
	font-style: italic;
	font-family: "Courier New";
	color:black;
}

html {
	overflow-y:scroll;
}

body {
    background-image:url('cityscape.jpg');
	padding-top: 50px;
}

section {
	overflow: auto
}

textarea{
	resize: vertical;
}


th {

	padding-right: 50px;

	.headwidth {

		width: 250px;
	}
}

td {

	padding-right: 50px;

	.headwidth {

		width: 250px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

#map label { width: auto; display:inline; }
#map img { max-width: none; }

#image { 

	float: left;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-right: 25px;

	&:hover {

	background-color: rgba(172,228,252,.5);

	}

}
	

h1 {

	padding-top: 85px;

}

h2 {

	font-size: 2em;
	margin-bottom: 25px;
	text-align: left;
	font-weight: none;
	color: black;

}

h3 {

	width: 100%;


}


div{


.span {

	width: 130px;
	margin-bottom: 50px;
}

.span4 {

	margin-bottom: 10px;
	margin-right: 100px;

	}
}



li {


list-style-type: none;


	ul.dropdown-menu {

		min-width: 90px;
		left: none;
		background-color:rgba(172,228,252,.9);
		margin: 0;
		padding: 0;
		border: 0;


		}
	}




/* header */


#logo {

	float: left;
	margin-right: 10px;
	font-size: 2.5em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;


	&:hover {
		color: none;
		text-decoration: none;
	}
}


/* footer */

footer {

	margin-top: 45px;
	padding-top: 5px;
		

	ul { 
			list-style: none;
			color: white;

	li {
		float: left;
		margin-left: 10px;
		
		}

		a:visited{ color: white}
	}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 0px;
  resize: vertical;
  @include box_sizing;
  font-family: "Courier New"
}

row.span1{

	margin: 5px 0 0 50px;

}

form.edit_location {

	width: 10%;
	margin-top: 5px;


}

input {
  height: auto !important;

}

#error_explanation {

  color: red;

  ul {

    list-style: none;
    margin: 0 0 18px 0;

  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid black;
    &:first-child {
      padding-left: 0;
      border: 0;
      color:black;
    }
    &:hover {
      text-decoration: none;
      color:white;
    }
  }
  strong {
  	color:black;
    display: block;
  }
}
