<footer class="navbar navbar-fixed-bottom" 
  style="background-color: black;">
  
  <center class="wrapper">

    <div class="wrapper" style="margin-bottom:5px;">

    <col style="margin: 0 0 0 0px;">
      <%= link_to "Site Info", site_info_path, style: "color:white;font-size:12px;", rel: :external %>
    </col>    

      <span style="color:white;font-size:12px;">|</span>

      <col>
        <a href="/?mobile=0", style="color:white;font-size:12px;", rel="external">Desktop</a>
      </col>

      <% if signed_in? %>

        <span style="color:white;font-size:12px;">|</span>

        <col><a href="<%= signout_path %>"  data-method="delete", style="color:white;font-size:12px;", data-ajax="false" %>Sign Out</a></col>

      <% end %>
    </div>
    </center>
</footer>