<footer class="navbar navbar-fixed-bottom" 
  style="background-color: black">
 <nav>
  <div class="container">
    <ul class="pull-left" style="margin: 0 0 0 0px">

      <% if signed_in? %>
      
         <li style="margin: 0 0 0 0px;">
        <%= link_to "Site Info", site_info_path, style: "color:white" %>
      </li>    

        <li style="color:white;"> | </li>

        <li><%= link_to "Edit Register", edit_user_path(current_user), style: "color:white" %></li>
        
        <li style="color:white;"> | </li>

      <% end %>

       <li style="color:white;">
          <a href="/?mobile=1", style="color:white;", rel="external">Mobile</a>
      </li>

      <% if signed_in? %>

        <li style="color:white;"> | </li>

        <li><%= link_to "Sign out", signout_path, method: "delete", style: "color:white" %></li>

      <% end %>
    </ul>
  </div>
 </nav>
</footer>