<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
<div class="container">
<%= link_to image_tag("hat.png", alt: "Delivery"), root_path, id: "image", 
            style: "margin-left:48%; width:35px; height:30px; margin-top:10px; padding:0;",rel: :external %>
</div>
</div>
</header>