<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">

    	<% if signed_in? %>

	    	<center style="margin-top:10px;">

			  <col align="left">
			    <%= link_to "Waiting", root_path, style: "color:white; font-size:250%;" %>
			  </col>

			  <span style="color:white; font-size:250%;">|</span>

			  <col align="center">
			    <%= link_to "Running", running_path, style: "color:white; font-size:250%;"%>
			  </col>

			  <span style="color:white; font-size:250%;">|</span>

			  <col align="right">
			    <%= link_to "Done", done_path, style: "color:white; font-size:250%;" %>
			  </col>

			</center>

		<% else %>

				<%= link_to image_tag("hat.png", alt: "Delivery"), root_path, id: "image", style: "width:36px; height:28px; margin-top:10px; margin-left:50%; padding:0; -webkit-filter: invert(100%);" %>

		<% end %>
	</div>
</header>