<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner" style="height:20px;">

    	<% if signed_in? %>

	    	<center class="wrapper" style="margin-top:10px;">

	    		

					  <%= link_to "Waiting", root_path, style: "color:white;font-size:18px;", rel: :external %> 
					  <span style="with:auto; color:white;font-size:18px;">|
					  </span>
					  <%= link_to "Running", running_path, style: "color:white;font-size:18px;", rel: :external%> 
					  <span style=" color:white;font-size:18px;">|
					  </span>
					  <%= link_to "Done", done_path, style: "color:white; font-size:18px;", rel: :external %>

					</center>
			    
			  	

			

		<% else %>


				<%= link_to image_tag("hat.png", alt: "Delivery"), root_path, id: "image", style: "margin-left:48%; width:35px; height:30px; margin-top:10px; padding:0;", rel: :external %>


		<% end %>
	</div>
</header>