<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner" style="height:45px;width:auto">

    	<% if signed_in? %>

	    	<center style="margin-top:10px;">

	    		

					  <%= link_to "Waiting", root_path, style: "color:white; font-size:400%;" %> 
					  <span style="with:auto;font-size:400%; color:white;">|
					  </span>
					  <%= link_to "Running", running_path, style: "color:white; font-size:400%;"%> 
					  <span style="font-size:400%; color:white;">|
					  </span>
					  <%= link_to "Done", done_path, style: "color:white; font-size:400%;" %>
			    
			  	

			</center>

		<% else %>

				<%= link_to image_tag("hat.png", alt: "Delivery"), root_path, id: "image", style: "width:36px; height:28px; margin-top:10px; margin-left:50%; padding:0; -webkit-filter: invert(100%);" %>

		<% end %>
	</div>
</header>